#example1 a,
#example1 div,
#example1 p {
    color: #3d3d3d;
    text-decoration: none;
}

#example1 ul li {
    list-style: none;
    overflow: hidden;
    border: 1px solid #dedede;
 margin-bottom: 10px;
 margin-right: 30px;
    font-size: 9px;
}

#example1 ul li:hover {
    background-color: #f0f3fb;
}

.user #example {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;

}

.cityInf {
    padding-top: 30px;
    width: 700px;
    height: 400px;
    background-color: white;
    text-align: center;

}
