*{
	font-family: 'Encode Sans Condensed', sans-serif;
}

body{
	background-color: black;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:white;
}

#rama {
    width: 80%;
    border: #E8E8EE solid 1px;
    min-height: 30px;
}

#tag {
    width: 80%;
    min-height: 30px;
    border: none;
    color: white;
    margin-left: 10px;
    background-color: transparent;
}

textarea:focus,
input:focus {
    outline: none;
}

.hasz {
    background-color: #2c251a;
    color: white;
    padding-left: 4px;
    display: inline-block;
    margin: 10px;
    position: relative;
}


.hasz:hover {
    background-color: #ffb847;
}

.buttonStyle {
    background: #ff7272;
    right: 10px;
    border: none;
    font-size: 1.5em;
    color: white;
    margin-left: 10px;
}